@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header, 
.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 24px;

}

.footer {
    margin-top: 0px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.introtext {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.introtext2 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}

.image1 {
    width: 100px;
    height: 70px;
}

.intro {
   background-color: #1F2937;
}

.img1 {
    width: 200px;
}

.logo1 {
    margin-bottom: 32px;
}

.body1 {
    display: flex;
    justify-content: center;
    gap: 52px;
  }

  .body2 {
    display: flex;
    justify-content: center;
    gap: 52px;
    background-color: #E5E7EB;
  }

  .text2 {
    font-size: 36px;
    font-weight: light italic;
    margin-bottom: 0px;
  }

  .body3 {
    display: flex;
    justify-content: center;
    gap: 52px;
  }

  .signup {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }

  .call {
    font-size: 32px;

  }

  .signuptext {
    
  }

